.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__text,
.copyright__name {
  font-family: @regular-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @color-grey-700;
}

.copyright__name {
  margin: 0;
  margin-right: 22px;
}

.copyright__link:active .copyright__name {
  opacity: 0.3;
}

.copyright__svg {
  fill: @color-grey-600;
}

.copyright__link:hover .copyright__svg {
  fill: @color-green-400;
}

.copyright__link:active .copyright__svg {
  fill: @color-green-400;
  opacity: 0.3;
}
