.effect-visualizer__images {
  position: relative;
  margin-bottom: 20px;
}

.effect-visualizer__slider {
  margin-bottom: 22px;
}

.effect-visualizer__item-after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.effect-visualizer__item-before,
.effect-visualizer__item-after {
  display: none;
}

.effect-visualizer__item-before--active,
.effect-visualizer__item-after--active {
  display: block;
}
