.graph {
  position: relative;
  width: 30%;
  margin-right: 2px;
  margin-left: 2px;
}

.graph__toggle {
  position: absolute;
  top: 4px;
  width: 50%;
  background-color: @color-green-400;
  height: 6px;
  border-radius: 6px;
}

.graph__toggle--before {
  left: 6px;
}

.graph__toggle--after {
  right: 6px;
}

.graph__scale {
  display: block;
  height: 14px;
  background-color: @color-white;
  border: 1px solid @color-grey-200;
  border-radius: 6px;
}
