.page-header {
  display: flex;
  flex-direction: column;
  background-color: @color-white;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    min-height: 76px;
  }

  @media (min-width: @desktop-width) {
    min-height: 107px;
  }
}

.page-header__logo {
  @media (min-width: @tablet-width) {
    margin-right: auto;
  }
}
