.promo {
  background-image: url("../img/index/index_promo-background.jpg"); /* Хочу сделать тонирование с помощью css */
  background-repeat: no-repeat;

  padding-top: 24px;
}

.promo__main-title {
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @color-white;
}

.promo__subtitle {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @color-white;
}
