.promo {
  background-image: url("../img/index/index_promo-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 27px;
  padding-bottom: 123px;
  margin-bottom: 200px;

  @media (min-width: @tablet-width) {
    background-image: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 116px;
    padding-bottom: 237px;
    background: linear-gradient(90deg, @color-white 0%, @color-white 50%, @color-green-500 50%, @color-green-500 100%);
    margin-bottom: 82px;
  }
}

.promo__wrapper {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 708px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
    flex-direction: column;
  }
}

.promo__text-container {
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 414px;
    margin-left: 87px;
    margin-top: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    margin-top: 0;
  }
}

.promo__main-title,
.promo__subtitle {
  font-family: @decor-font;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: @color-white;

  @media (min-width: @tablet-width) {
    color: @color-black;
    text-align: left;
  }
}

.promo__main-title {
  font-size: 36px;
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    margin-bottom: 40px;
  }
}

.promo__subtitle {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.promo__button {
  font-size: 14px;
  z-index: 1;
  position: relative;
  top: 301px;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: auto;
    width: 244px;
    top: 49px;
    left: 82px;
    padding-top: 14px;
    padding-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1;
    top: 52px;
    left: 80px;
  }
}

.promo__image {
  position: absolute;
  top: 430px;

  @media (min-width: @tablet-width) {
    position: relative;
    top: -35px;
    left: 35px;
    z-index: 0;
    width: 95%;
    height: 95%;
    order: 4;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 140px;
    margin-left: 450px;
    left: initial;
  }
}
