.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.social__item:not(:last-child) {
  padding-right: 24px;
}

.social__button:hover .social__icon {
  fill: @color-green-400;
}

.social__button:active .social__icon {
  opacity: 0.3;
}
