.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.social__item:not(:last-child) {
  margin-right: 34px;
}

.social__button {
  display: block;
}

.social__button:hover .social__icon {
  fill: @color-green-400;
}

.social__button:active .social__icon {
  opacity: 0.3;
}

.social__button--vkontakte {
  width: 23px;
  height: 16px;
}

.social__button--instagram {
  width: 16px;
  height: 16px;
}

.social__button--facebook {
  width: 22px;
  height: 22px;
}
