.special {
  margin-bottom: 42px;
}

.special__wrapper {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 708px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
  }
}

.special__title {
  font-size: 36px;
  line-height: 40px;
}

.special__list {
  display: grid;
  gap: 20px;
  list-style: none;
  margin: 0;
  margin-top: 37px;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.special__item {
  display: flex;
  align-items: center;
  position: relative;
}

.special__item::before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  background-color: @color-green-400;
  flex-shrink: 0;
  margin-right: 20px;
}

.special__description {
  font-family: @regular-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: @color-grey-700;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.special__description--compound::before,
.special__description--cooking::before,
.special__description--diet::before,
.special__description--result::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  position: absolute;
}

.special__description--compound::before {
  width: 32px;
  height: 33px;
  background-image: url("../img/index/icon_leaf.svg");
  left: 14px;
  top: 13px;
}

.special__description--cooking::before {
  width: 32px;
  height: 33px;
  background-image: url("../img/index/icon_tub.svg");
  left: 14px;
  top: 13px;
}

.special__description--diet::before {
  width: 32px;
  height: 33px;
  background-image: url("../img/index/icon_eat.svg");
  left: 17px;
  top: 15px;
}

.special__description--result::before {
  width: 32px;
  height: 33px;
  background-image: url("../img/index/icon_alarm.svg");
  left: 13px;
  top: 13px;
}
