.case__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 129%;
  color: @special_dark-grey;
}

.case__statistic {
  list-style: none;
  padding: 0;
  margin: 0;
}

.case__money-spent {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;text-align: center;
  text-transform: uppercase;
  color: @main-caption;
}
