@color-white: #ffffff;
@color-black: #000000;
@color-grey-900: #111111;
@color-grey-850: #222222; /* special_dark-grey-2 */
@color-grey-700: #444444; /* special_dark-grey */
@color-grey-600: #666666; /* special_grey-2 */
@color-grey-200: #cdcdcd; /* special_grey */
@color-grey-150: #d9d9d9;
@color-grey-80: #ebebeb; /* special_grey-2 */
@color-grey-81: #eaeaea;
@color-grey-50: #f2f2f2; /* basic_grey */
@color-green-400: #68b738; /* basic_green */
@color-green-500: #5eaa2f; /* basic_green-2 */
@color-red-400: #ff8282; /* status_error */
